<div class="modal fade" id="modal"></div>

<?php
if (vimeo\Session::get("acao")) {

    $situacao = vimeo\Session::get("acao-class");

    if ($situacao == 'success') {
        $tipomodal = "background-color: #a3e1a3";
    } else if ($situacao == 'warning') {
        $tipomodal = "background-color: rgb(243, 210, 115)";
    } else if ($situacao == 'danger') {
        $tipomodal = "background-color: rgb(225, 163, 163)";
    }

    ?>
    <script>
        jQuery(document).ready(function ($) {

            var tipo = '<?= $situacao ?>'

            var dialogmsg = bootbox.dialog({
                message: "<h4 class='" + tipo + "'><?= vimeo\Session::get("acao-msg") ?></h4>",
                closeButton: true,
                onEscape: true,
                backdrop: false
            });

            if (tipo == 'success') {
                dialogmsg.find('.modal-content').css('background-color', '#a3e1a3');
            } else if (tipo == 'warning') {
                dialogmsg.find('.modal-content').css('background-color', 'rgb(243, 210, 115)');
            } else if (tipo == 'danger') {
                dialogmsg.find('.modal-content').css('background-color', 'rgb(225, 163, 163)');
            }

            dialogmsg.modal("show");

            dialogmsg.init(function () {
                setTimeout(function () {
                    dialog.modal('hide');
                }, 6000);
            });
        });
    </script>
    <?php
    vimeo\Session::delete("acao");
    vimeo\Session::delete("acao-msg");
    vimeo\Session::delete("acao-class");
}

?>

<script src="<?= GERAL_PLUGINS ?>/Uikit/uikit-2.27.2.js" type="text/javascript"></script>
<script src="<?= GERAL_PLUGINS ?>/Uikit/notify-2.27.2.js" type="text/javascript"></script>
<script src="<?= TELAS_JS ?>/<?= strtolower($controller) ?>.js"></script>

<script>
        jQuery(document).ready(function ($) {

<?php if (vimeo\Session::get("acao")) { ?>

                $dispararAlerta('<?= vimeo\Session::get("acao-msg") ?>', '<?= vimeo\Session::get("acao-class"); ?>');
    <?php
    vimeo\Session::delete("acao");
    vimeo\Session::delete("erro-login");
    vimeo\Session::delete("acao-msg");
}

?>
        });
</script>
</body>
</html>